/* --- VARIABLES --- */
:root {
    --color-primary: #353741;
    --color-secondary: #4c74f8;
    --color-tertriary: #e4eaf6;

    --color-navy: #294978;
    --color-white: #ffffff;
    --color-grey: #f7f7f7;
}

/* --- BASE STYLES --- */

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--color-white);
    color: var(--color-primary);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: flex-end;
    min-height: 100vh;
    position: relative;
}

div.container {
    min-height: 20rem;
}

div.container--main {
    padding: 2rem;
    width: 80%;
}

h2,
h3 {
    color: currentColor;
    font-size: 2.8rem;
    font-weight: 900;
    padding: 2rem;
}

ul,
ol {
    list-style: none;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

/* --- CUSTOM PAGE SCROLL STYLES --- */

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: var(--color-secondary);
}
/* --- NAVIGATION STYLES --- */

.navbar {
    background-color: inherit;
    border-right: solid 1px var(--color-tertriary);
    width: 20%;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.navbar__item {
    display: flex;
    font-weight: 700;
    height: 4rem;
    overflow: hidden;
}

.navbar__link {
    display: block;
    line-height: 4rem;
    padding-left: 1rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 100%;
}

.navbar__link > span {
    display: inline-block;
    margin-right: 1rem;
}

.navbar__link:hover {
    background-color: var(--color-tertriary);
    transform: translateX(1rem);
}

/* --- HEADER STYLES --- */

.header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 2.8rem;
    font-weight: 900;
    margin: 0;
}

.contact {
    display: flex;
}

.contact__list {
    display: flex;
}

.contact__item:last-child {
    padding-right: 0;
}

.contact__item {
    align-items: center;
    display: flex;
    padding-right: 2rem;
    transition: transform 0.3s ease-in-out;
}

.contact__item:hover {
    transform: translateY(-1rem);
}

/* --- HERO STYLES --- */

.hero {
    display: flex;
    flex-direction: column;
}

.hero__img {
    align-self: center;
    height: auto;
    width: 40%;
}

.hero__title {
    padding: 0;
    width: 35%;
}

.hero__title--thin {
    font-weight: 400;
    font-size: 2rem;
}

.hero__description {
    line-height: 2.8rem;
    padding-left: 2rem;
    width: 65%;
}

.hero__container {
    display: flex;
}

/* --- ARTICLE STYLES --- */

.article {
    margin: 5rem 0;
}

.article__title {
    padding-left: 0;
}

.article__link {
    font-weight: 700;
    color: var(--color-secondary);
}

.article__description {
    line-height: 2.8rem;
}

.article__container--project {
    margin: 2rem 0;
}

pre {
    background-color: var(--color-grey);
    margin: 2rem 0;
    padding: 2rem;
}

/* --- FOOTER STYLES --- */

.footer {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: right;
}

.footer__link {
    font-weight: 700;
}

/*  --------------------------------  ALL PROJECTS  -------------------------------- */
/*  if you want use some project, don't forget copy styles below!                    */
/*  -------------------------------------------------------------------------------- */

/* --- DAY 1 --- */
/* ALL CODE ABOVE  */

/* --- DAY 2 --- */
/* ============================== */
/*       CUSTOM PAGE LOADER       */
/* ============================== */

.project {
    align-items: center;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.project__custom-page-loader {
    animation: loader 0.75s infinite linear backwards;
    border-radius: 50%;
    height: 60px;
    position: relative;
    width: 60px;
}

.project__custom-page-loader div {
    border-radius: 50%;
    background-color: var(--color-secondary);
    height: 10px;
    position: absolute;
    width: 10px;
}

.project__custom-page-loader div:nth-child(1) {
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
    opacity: 1;
}

.project__custom-page-loader div:nth-child(2) {
    top: -1px;
    right: 9px;
    opacity: 0.9;
}

.project__custom-page-loader div:nth-child(3) {
    top: 10px;
    right: -2px;
    opacity: 0.8;
}

.project__custom-page-loader div:nth-child(4) {
    bottom: 50%;
    transform: translateY(50%);
    right: -5px;
    opacity: 0.7;
}

.project__custom-page-loader div:nth-child(5) {
    bottom: 10px;
    right: -2px;
    opacity: 0.6;
}

.project__custom-page-loader div:nth-child(6) {
    bottom: -1px;
    right: 9px;
    opacity: 0.5;
}

.project__custom-page-loader div:nth-child(7) {
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.4;
}

.project__custom-page-loader div:nth-child(8) {
    bottom: -2px;
    left: 10px;
    opacity: 0.3;
}

.project__custom-page-loader div:nth-child(9) {
    bottom: 9px;
    left: -1px;
    opacity: 0.2;
}

.project__custom-page-loader div:nth-child(10) {
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.1;
}

.project__custom-page-loader div:nth-child(11) {
    top: 10px;
    left: -2px;
    opacity: 0.05;
}

.project__custom-page-loader div:nth-child(12) {
    top: -1px;
    left: 9px;
    opacity: 0;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* --- DAY 3 --- */
/* ============================== */
/*         HOVER GALLERY          */
/* ============================== */

.project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20rem;
}

.project__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    height: 70rem;
    width: 80rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.project__gallery img {
    border: 1rem solid var(--color-white);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.project__gallery div {
    background: var(--color-primary);
    background-position: center center;
    background-size: cover;
    border: solid 0.5rem var(--color-white);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.project__gallery div:nth-child(1) {
    background-image: url('../assets/img/image1.jpg');
}

.project__gallery div:nth-child(1):hover ~ img:nth-of-type(1),
.project__gallery div:nth-child(2):hover ~ img:nth-of-type(2),
.project__gallery div:nth-child(3):hover ~ img:nth-of-type(3),
.project__gallery div:nth-child(4):hover ~ img:nth-of-type(4),
.project__gallery div:nth-child(5):hover ~ img:nth-of-type(5),
.project__gallery div:nth-child(6):hover ~ img:nth-of-type(6) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.project__gallery div:nth-child(2) {
    background-image: url('../assets/img/image2.jpg');
}

.project__gallery div:nth-child(3) {
    background-image: url('../assets/img/image3.jpg');
}

.project__gallery div:nth-child(4) {
    background-image: url('../assets/img/image4.jpg');
    object-fit: contain;
}

.project__gallery div:nth-child(5) {
    background-image: url('../assets/img/image5.jpg');
}

.project__gallery div:nth-child(6) {
    background-image: url('../assets/img/image6.jpg');
}

/* --- DAY 4 --- */
/* ============================== */
/*     CHECKBOX BURGER ICON       */
/* ============================== */

.project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20rem;
}

.project__checkbox-burger-icon {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    min-width: 12rem;
    position: relative;
}

.project__checkbox-burger-icon input {
    display: none;
}

.project__checkbox-burger-icon label {
    background: transparent;
    cursor: pointer;
    height: 6rem;
    position: absolute;
    width: 4rem;
    z-index: 1000;
}

.project__checkbox-burger-icon div:nth-child(3) {
    height: 4rem;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    width: 6rem;
    z-index: 0;
}

.project__checkbox-burger-icon div:nth-child(3)::before {
    content: 'Open';
    position: absolute;
    top: 1rem;
    transition: top 0.3s ease-in-out;
    width: 6rem;
}

.project__checkbox-burger-icon input:checked ~ div:nth-child(3)::before {
    top: -4rem;
}

.project__checkbox-burger-icon div:nth-child(3)::after {
    bottom: -6rem;
    content: 'Close';
    position: absolute;
    transition: bottom 0.3s ease-in-out;
    width: 6rem;
}

.project__checkbox-burger-icon input:checked ~ div:nth-child(3)::after {
    bottom: 1rem;
}

.project__checkbox-burger-icon div:nth-child(4) {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 4rem;
}

.project__checkbox-burger-icon div:nth-child(4) span {
    background-color: var(--color-primary);
    display: block;
    height: 2px;
    position: relative;
    transition: width 0.3s ease-in-out;
    width: 3rem;
}

.project__checkbox-burger-icon input:checked ~ div:nth-child(4) span {
    width: 0;
}

.project__checkbox-burger-icon div:nth-child(4) span::before {
    background-color: var(--color-primary);
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    top: -1rem;
    transition: transform 0.3s ease-in-out;
    width: 4rem;
}

.project__checkbox-burger-icon input:checked ~ div:nth-child(4) span::before {
    transform: rotate(135deg);
    top: 0;
}

.project__checkbox-burger-icon div:nth-child(4) span::after {
    background-color: var(--color-primary);
    bottom: -1rem;
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
    width: 4rem;
}

.project__checkbox-burger-icon input:checked ~ div:nth-child(4) span::after {
    transform: rotate(-135deg);
    top: 0;
}

/* --- DAY 5 --- */
/* ============================== */
/*     CUSTOM HOVER TOOLTIP       */
/* ============================== */

.project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20rem;
}

.project__custom-hover-tooltip {
    height: 10rem;
    position: relative;
    width: 10rem;
}

.project__custom-hover-tooltip i {
    font-size: 5rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.project__custom-hover-tooltip div:nth-of-type(1) {
    background-color: var(--color-grey);
    border: solid 1px var(--color-navy);
    border-radius: 50%;
    height: 1rem;
    position: relative;
    transform: translate(4.5rem, 4.5rem);
    width: 1rem;
}

.project__custom-hover-tooltip div:nth-of-type(1)::after {
    animation: scale-sygnal 0.8s ease-in-out infinite backwards;
    background-color: var(--color-grey);
    border: solid 1px var(--color-navy);
    border-radius: 50%;
    content: '';
    height: 1rem;
    left: 0;
    margin-left: -1rem;
    position: absolute;
    top: 0;
    width: 1rem;
    z-index: -1;
}

.project__custom-hover-tooltip div:nth-of-type(1)::before {
    animation: scale-sygnal 0.8s 0.2s ease-in-out infinite backwards;
    background-color: var(--color-grey);
    border: solid 1px var(--color-navy);
    border-radius: 50%;
    content: '';
    height: 1rem;
    left: 0;
    margin-left: -1rem;
    position: absolute;
    top: 0;
    width: 1rem;
    z-index: -2;
}

@keyframes scale-sygnal {
    0% {
        transform: scale(1);
        left: 1rem;

        opacity: 1;
    }
    100% {
        transform: scale(8);
        left: 1rem;

        opacity: 0;
    }
}

/* CUSTOM HOVER TOOLTIP - TOP  */

/* .project__custom-hover-tooltip div:nth-of-type(2) { */
/* border-radius: 0.5rem; */
/* background-color: var(--color-primary); */
/* color: var(--color-white); */
/* top: -12rem; */
/* min-height: 7rem; */
/* left: -5rem; */
/* position: relative; */
/* padding: 1rem; */
/* pointer-events: none; */
/* opacity: 0; */
/* transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out; */
/* width: 20rem; */
/* } */
/*  */
/* .project__custom-hover-tooltip div:nth-of-type(2)::after { */
/* border-left: 1rem solid transparent; */
/* border-right: 1rem solid transparent; */
/* border-top: 1rem solid var(--color-primary); */
/* bottom: -0.8rem; */
/* content: ''; */
/* height: 0; */
/* left: 50%; */
/* position: absolute; */
/* transform: translateX(-50%); */
/* width: 0; */
/* } */
/*  */
/* .project__custom-hover-tooltip:hover div:nth-of-type(2) { */
/* opacity: 1; */
/* top: -8rem; */
/* } */
/*  */
/*  CUSTOM HOVER TOOLTIP - BOTTOM    */

/* .project__custom-hover-tooltip div:nth-of-type(2) { */
/* border-radius: 0.5rem; */
/* background-color: var(--color-primary); */
/* color: var(--color-white); */
/* bottom: -12rem; */
/* min-height: 7rem; */
/* left: -5rem; */
/* position: relative; */
/* padding: 1rem; */
/* pointer-events: none; */
/* opacity: 0; */
/* transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out; */
/* width: 20rem; */
/* } */
/*  */
/* .project__custom-hover-tooltip div:nth-of-type(2)::after { */
/* border-left: 1rem solid transparent; */
/* border-right: 1rem solid transparent; */
/* border-bottom: 1rem solid var(--color-primary); */
/* top: -0.8rem; */
/* content: ''; */
/* height: 0; */
/* left: 50%; */
/* position: absolute; */
/* transform: translateX(-50%); */
/* width: 0; */
/* } */
/*  */
/* .project__custom-hover-tooltip:hover div:nth-of-type(2) { */
/* opacity: 1; */
/* bottom: -8rem; */
/* } */

/*  CUSTOM HOVER TOOLTIP - LEFT    */

/* .project__custom-hover-tooltip div:nth-of-type(2) { */
/* border-radius: 0.5rem; */
/* background-color: var(--color-primary); */
/* color: var(--color-white); */
/* bottom: -0.7rem; */
/* min-height: 7rem; */
/* left: -21rem; */
/* position: relative; */
/* padding: 1rem; */
/* pointer-events: none; */
/* opacity: 0; */
/* transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out; */
/* width: 20rem; */
/* } */
/*  */
/* .project__custom-hover-tooltip div:nth-of-type(2)::after { */
/* border-top: 1rem solid transparent; */
/* border-bottom: 1rem solid transparent; */
/* border-left: 1rem solid var(--color-primary); */
/* top: 50%; */
/* content: ''; */
/* height: 0; */
/* right: -0.8rem; */
/* position: absolute; */
/* transform: translateY(-50%); */
/* width: 0; */
/* } */
/*  */
/* .project__custom-hover-tooltip:hover div:nth-of-type(2) { */
/* opacity: 1; */
/* left: -18rem; */
/* } */

/*  CUSTOM HOVER TOOLTIP - RIGHT    */

.project__custom-hover-tooltip div:nth-of-type(2) {
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    bottom: -0.7rem;
    min-height: 7rem;
    right: -12rem;
    position: relative;
    padding: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
    width: 20rem;
}

.project__custom-hover-tooltip div:nth-of-type(2)::after {
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid var(--color-primary);
    top: 50%;
    content: '';
    height: 0;
    left: -0.8rem;
    position: absolute;
    transform: translateY(-50%);
    width: 0;
}

.project__custom-hover-tooltip:hover div:nth-of-type(2) {
    opacity: 1;
    right: -8rem;
}

/* --- DAY 6 --- */
/* ============================== */
/*    CUSTOM SEND MAIL BUTTON     */
/* ============================== */

.project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20rem;
}

.project__custom-send-mail-button button {
    border: none;
    border-radius: 4px;
    background-color: var(--color-tertriary);
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 1.5rem;
    position: relative;
    outline: none;
}

.project__custom-send-mail-button button input {
    display: none;
}

.project__custom-send-mail-button button label {
    background-color: transparent;
    cursor: pointer;
    min-width: 70%;
    min-height: 5rem;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1000;
}

.project__custom-send-mail-button button div:nth-of-type(1),
.project__custom-send-mail-button button div:nth-of-type(2) {
    margin-right: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.project__custom-send-mail-button button div:nth-of-type(2) {
    height: 2rem;
    width: 2rem;
}

.project__custom-send-mail-button button div:nth-of-type(1) {
    height: 2rem;
    min-width: 13rem;
}

.project__custom-send-mail-button
    button
    div:nth-of-type(1)
    span:nth-of-type(1) {
    left: 0;
    position: absolute;
    opacity: 1;
    top: 0;
    transition: left 0.3s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
}

.project__custom-send-mail-button
    button
    input:checked
    ~ div:nth-of-type(1)
    span:nth-of-type(1) {
    left: 15rem;
    opacity: 0;
}

.project__custom-send-mail-button
    button
    div:nth-of-type(1)
    span:nth-of-type(2) {
    left: -15rem;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: left 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.project__custom-send-mail-button
    button
    input:checked
    ~ div:nth-of-type(1)
    span:nth-of-type(2) {
    left: 0;
    opacity: 1;
}

.project__custom-send-mail-button button div:nth-of-type(2) i:nth-of-type(1) {
    left: 0;
    position: absolute;
    opacity: 1;
    top: 0;
    transition: left 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.project__custom-send-mail-button
    button
    input:checked
    ~ div:nth-of-type(2)
    i:nth-of-type(1) {
    left: -1rem;
    opacity: 0;
}

.project__custom-send-mail-button button div:nth-of-type(2) i:nth-of-type(2) {
    left: -1rem;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: left 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.project__custom-send-mail-button
    button
    input:checked
    ~ div:nth-of-type(2)
    i:nth-of-type(2) {
    left: 0;
    opacity: 1;
}

/* --- DAY 7 --- */
/* ================================ */
/* CUSTOM CLICKED CIRCLE NAVIGATION */
/* ================================ */

.project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20rem;
}

.project__custom-circle-navigation {
    height: 60rem;
    position: relative;
    width: 60rem;
}

.project__custom-circle-navigation div:nth-of-type(1) {
    background: radial-gradient(var(--color-grey), var(--color-tertriary));
    border: solid 1px var(--color-grey);
    border-radius: 50%;
    height: 0;
    position: relative;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    width: 0;
}

.project__custom-circle-navigation div:nth-of-type(2) {
    border: solid 2rem var(--color-tertriary);
    border-radius: 50%;
    height: 10rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
}

.project__custom-circle-navigation span:nth-of-type(1) {
    background-color: var(--color-primary);
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-in-out;
    width: 3rem;
}

.project__custom-circle-navigation input:checked ~ span:nth-of-type(1) {
    left: calc(50% - 1.5rem);
    width: 0;
}

.project__custom-circle-navigation span:nth-of-type(1)::after {
    background-color: var(--color-primary);
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: -0.8rem;
    transition: transform 0.3s ease-in-out;
    width: 3rem;
}

.project__custom-circle-navigation input:checked ~ span:nth-of-type(1)::after {
    transform: rotate(135deg);
    top: 0;
}

.project__custom-circle-navigation span:nth-of-type(1)::before {
    bottom: -0.8rem;
    background-color: var(--color-primary);
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: transform 0.3s ease-in-out;
    width: 3rem;
}

.project__custom-circle-navigation input:checked ~ span:nth-of-type(1)::before {
    transform: rotate(-135deg);
    top: 0;
}

.project__custom-circle-navigation label {
    cursor: pointer;
    left: 50%;
    position: absolute;
    height: 10rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    z-index: 1000;
}

.project__custom-circle-navigation input {
    left: 50%;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    top: 50%;
}

.project__custom-circle-navigation input:checked ~ div:nth-of-type(1) {
    height: 60rem;
    width: 60rem;
}

.project__custom-circle-navigation ul {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.project__custom-circle-navigation ul li {
    border-radius: 50%;
    /* background-color: var(--color-grey); */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: block;
    height: 10rem;
    line-height: 10rem;
    margin: 1rem;
    text-align: center;
    width: 10rem;
}

.project__custom-circle-navigation ul li a {
    border-radius: 50%;
    color: var(--color-primary);
    display: block;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    z-index: 1001;
}

.project__custom-circle-navigation ul li a:hover {
    border-radius: 50%;
    color: var(--color-white);
}

.project__custom-circle-navigation ul li a::before {
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-white);
    content: '';
    left: -10rem;
    height: 10rem;
    position: absolute;
    top: 0;
    transition: background 0.3s ease-in-out, left 0.3s ease-in-out;
    width: 10rem;
    z-index: -1;
}

.project__custom-circle-navigation ul li a:hover::before {
    left: 0;
}

.project__custom-circle-navigation ul li:nth-child(1) {
    margin-left: 0;
    margin-bottom: 0rem;
    opacity: 0;
    transition: opacity 0.5s 0.3s ease-in-out, margin-left 0.5s ease-in-out;
}

.project__custom-circle-navigation input:checked ~ ul li:nth-child(1) {
    margin-left: 6rem;
    margin-bottom: 0rem;
    opacity: 1;
}

.project__custom-circle-navigation ul li:nth-child(2) {
    margin-left: -8.5rem;
    margin-bottom: 3rem;
    opacity: 0;
    transition: opacity 0.5s 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

.project__custom-circle-navigation input:checked ~ ul li:nth-child(2) {
    margin-left: -2.5rem;
    margin-bottom: 3rem;
    opacity: 1;
}

.project__custom-circle-navigation ul li:nth-child(3) {
    margin-left: -10rem;
    opacity: 0;
    transition: opacity 0.5s 0.7s ease-in-out, margin-left 0.5s ease-in-out;
}

.project__custom-circle-navigation input:checked ~ ul li:nth-child(3) {
    margin-left: -5rem;
    opacity: 1;
}

.project__custom-circle-navigation ul li:nth-child(4) {
    margin-left: -8.5rem;
    margin-top: 3rem;
    opacity: 0;
    transition: opacity 0.5s 0.9s ease-in-out, margin-left 0.5s ease-in-out;
}

.project__custom-circle-navigation input:checked ~ ul li:nth-child(4) {
    margin-left: -2.5rem;
    margin-top: 3rem;
    opacity: 1;
}

.project__custom-circle-navigation ul li:nth-child(5) {
    margin-left: 0;
    margin-top: -1rem;
    opacity: 0;
    transition: opacity 0.5s 1.1s ease-in-out, margin-left 0.5s ease-in-out;
}

.project__custom-circle-navigation input:checked ~ ul li:nth-child(5) {
    margin-left: 6.5rem;
    margin-top: -1rem;
    opacity: 1;
}

/* --- DAY 8 --- */
/* ================================ */
/*    CUSTOM TOGGLE RADIO BUTTONS   */
/* ================================ */

.project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20rem;
}

.project__toggle-radio-buttons {
    min-width: 15rem;
    min-height: 10rem;
}

.project__toggle-radio-buttons div {
    align-items: center;
    display: flex;
    margin: 0.5rem 0;
}

.project__toggle-radio-buttons div:nth-child(1),
.project__toggle-radio-buttons div:nth-child(2),
.project__toggle-radio-buttons div:nth-child(3) {
    position: relative;
}

.project__toggle-radio-buttons div:nth-child(1) input,
.project__toggle-radio-buttons div:nth-child(2) input,
.project__toggle-radio-buttons div:nth-child(3) input {
    display: none;
}

.project__toggle-radio-buttons div:nth-child(1) label,
.project__toggle-radio-buttons div:nth-child(2) label,
.project__toggle-radio-buttons div:nth-child(3) label {
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.project__toggle-radio-buttons div:nth-child(1) div,
.project__toggle-radio-buttons div:nth-child(2) div,
.project__toggle-radio-buttons div:nth-child(3) div {
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    height: 1.5rem;
    width: 4rem;
}

.project__toggle-radio-buttons div:nth-child(1) div {
    border: 1px solid rgb(140, 187, 45);
}

.project__toggle-radio-buttons div:nth-child(3) div {
    border: 1px solid rgb(255, 156, 25);
}

.project__toggle-radio-buttons div:nth-child(1) ~ span,
.project__toggle-radio-buttons div:nth-child(2) ~ span,
.project__toggle-radio-buttons div:nth-child(3) ~ span {
    margin-left: 1rem;
}

.project__toggle-radio-buttons div:nth-child(1) div:nth-of-type(1) span,
.project__toggle-radio-buttons div:nth-child(2) div:nth-of-type(1) span,
.project__toggle-radio-buttons div:nth-child(3) div:nth-of-type(1) span {
    border-radius: 50%;
    border: 2px solid var(--color-white);
    background-color: var(--color-white);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    display: block;
    height: 1.7rem;
    left: -2px;
    position: absolute;
    top: -2px;
    transition: left 0.3s ease-in-out;
    width: 1.7rem;
}

.project__toggle-radio-buttons div:nth-child(1) div:nth-of-type(1) span {
    background-color: rgb(140, 187, 45);
}

.project__toggle-radio-buttons div:nth-child(2) div:nth-of-type(1) span {
    background-color: var(--color-secondary);
}

.project__toggle-radio-buttons div:nth-child(3) div:nth-of-type(1) span {
    background-color: rgb(255, 156, 25);
}

.project__toggle-radio-buttons
    div:nth-child(1)
    input:checked
    ~ div:nth-of-type(1)
    span:first-child {
    left: 2.3rem;
}

.project__toggle-radio-buttons
    div:nth-child(2)
    input:checked
    ~ div:nth-of-type(1)
    span:first-child {
    left: 2.3rem;
}

.project__toggle-radio-buttons
    div:nth-child(3)
    input:checked
    ~ div:nth-of-type(1)
    span:first-child {
    left: 2.3rem;
}

/* --- DAY 9 --- */
/* ================================ */
/*      CUSTOM SWITCHED LABELS      */
/* ================================ */

.project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20rem;
}

.project__custom-switched-labels {
    color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    min-width: 80rem;
}

.project__custom-switched-labels div:last-child {
    position: relative;
    width: 100%;
    min-height: 25rem;
    overflow: hidden;
}

.project__custom-switched-labels input {
    display: none;
}

.project__custom-switched-labels label {
    border-radius: 1rem 1rem 0 0;
    background-color: var(--color-secondary);
    cursor: pointer;
    letter-spacing: 2px;
    min-width: 20rem;
    padding: 2rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.project__custom-switched-labels label:hover {
    transform: translateX(1rem);
}

.project__custom-switched-labels label:first-of-type {
    border-radius: 0 1rem 0 0;
    background-color: var(--color-secondary);
    z-index: 10;
}

.project__custom-switched-labels label:nth-of-type(2) {
    background-color: #d62c2c;
    margin-left: -1.5rem;
    z-index: 9;
}

.project__custom-switched-labels label:nth-of-type(3) {
    background-color: #a1a10d;
    margin-left: -1.5rem;
    z-index: 8;
}

.project__custom-switched-labels input:checked div:last-child {
    display: none;
}

.project__custom-switched-labels div:last-child div {
    border-radius: 0 1rem 0 0;
    font-weight: 300;
    height: 100%;
    line-height: 2.5rem;
    padding: 2rem;
    width: 100%;
}

.project__custom-switched-labels div:last-child div:nth-of-type(1) {
    background-color: var(--color-secondary);
    position: absolute;
    top: 0;
    transition: left 0.3s ease-in-out;
    left: -100%;
}

.project__custom-switched-labels div:last-child div:nth-of-type(2) {
    background-color: #d62c2c;
    position: absolute;
    top: 0;
    transition: left 0.3s ease-in-out;
    left: -100%;
}

.project__custom-switched-labels div:last-child div:nth-of-type(3) {
    background-color: #a1a10d;
    position: absolute;
    top: 0;
    transition: left 0.3s ease-in-out;
    left: -100%;
}

.project__custom-switched-labels
    input:nth-of-type(1):checked
    ~ div:last-child
    div:nth-of-type(1) {
    left: 0;
}

.project__custom-switched-labels
    input:nth-of-type(2):checked
    ~ div:last-child
    div:nth-of-type(2) {
    left: 0;
}

.project__custom-switched-labels
    input:nth-of-type(3):checked
    ~ div:last-child
    div:nth-of-type(3) {
    left: 0;
}

/* --- DAY 10 --- */
/* ================================ */
/*      NAVIGATION WITH IMAGES      */
/* ================================ */

.project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20rem;
}

.project__navigation-with-images {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 80rem;
    width: 80rem;
}

.project__navigation-with-images nav {
    width: 100%;
}

.project__navigation-with-images nav ul li {
    display: flex;
    font-size: 5rem;
    justify-content: space-between;
    height: 8rem;
    line-height: 8rem;
    margin: 0;
    padding-left: 2rem;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.project__navigation-with-images nav ul li a {
    color: var(--color-white);
    height: 100%;
    font-weight: 800;
    -webkit-text-stroke: 1px var(--color-primary);
    transition: all 0.3s ease-in-out;
    width: 85%;
}

.project__navigation-with-images nav ul li a:hover {
    -webkit-text-stroke: 2px var(--color-primary);
    color: var(--color-primary);
}

.project__navigation-with-images nav ul li:hover {
    background-color: var(--color-tertriary);
}

.project__navigation-with-images nav ul {
    position: relative;
    z-index: 1;
}

.project__navigation-with-images nav ul img {
    border: solid 2rem var(--color-white);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    height: 50%;
    left: 50%;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    z-index: -1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(1):hover
    ~ img:nth-of-type(1) {
    opacity: 1;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(2):hover
    ~ img:nth-of-type(2) {
    opacity: 1;
    top: 10%;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(3):hover
    ~ img:nth-of-type(3) {
    opacity: 1;
    top: 10%;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(4):hover
    ~ img:nth-of-type(4) {
    opacity: 1;
    top: 20%;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(5):hover
    ~ img:nth-of-type(5) {
    opacity: 1;
    top: 30%;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(6):hover
    ~ img:nth-of-type(6) {
    opacity: 1;
    top: 40%;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(7):hover
    ~ img:nth-of-type(7) {
    opacity: 1;
    top: 50%;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(8):hover
    ~ img:nth-of-type(8) {
    opacity: 1;
    top: 50%;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(9):hover
    ~ img:nth-of-type(9) {
    opacity: 1;
    top: 50%;
    z-index: 1;
}

.project__navigation-with-images
    nav
    ul
    li:nth-of-type(10):hover
    ~ img:nth-of-type(10) {
    opacity: 1;
    top: 50%;
    z-index: 1;
}
